<!DOCTYPE html>
<html>

<form method="POST"
    style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
    <h3 style="color: black">Input new episode</h3>
    <div class="form-group">
        <label style="color: black">Name</label>
        <input type="text" name="title" class="form-control">
    </div>
    <div class="form-group">
        <label style="color: black">description</label>
        <input type="text" name="description" class="form-control">
    </div>
    <div class="form-group">
        <button class="btn btn-success">Add</button>
    </div>
</form>

</html>
{{!-- block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Title
            input(type="text", name="title")
        div.input
            span.label Description
            textarea(name="description", cols="40", rows="5")
        div.actions
            input(type="submit", value="add")
 --}}