doctype html              
html.
	<head>
		<title>Better Brain</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="assets/js/freezeframe.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	
	<body class="is-preload" style="background-image: url('images/brain.jpg');background-attachment: fixed; background-size: cover;">
	
		
		<!-- Sidebar -->
			<section id="sidebar">
			
				<div class="inner">
					
					<nav>
						<ul>
							<li><a href="#intro" style="font-family: 'Courier Prime', monospace;">Home</a></li>
							
							<li><a href="#two" style="font-family: 'Courier Prime', monospace;" class="navi">About</a></li>
							<li><a href="#three" style="font-family: 'Courier Prime', monospace;" class="navi">Episodes</a></li>
							
							
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<!--<canvas></canvas>-->
						<div class="inner">
							<h1><span class="myname">Better Brain Podcast</span></h1>				
							<p></p>
							<p></p>
							<p></p>
							
								
								<p></p>
								<ul class="icons">
									
									<li><a href="#" class="icon brands fa-instagram" ><span class="label">Instagram</span></a></li>
									
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								</ul>
							
						</div>
					</section>

				<!-- One -->
					
				<!-- Two -->
					<section id="two" class="wrapper style3 fullscreen fade-up">
						<div class="inner">
							
							<section>
										

								<div class="wcarousel">

									<div class="wcgrid-item">
										<div class="lrgrid">

											<div class="item1">
											<div class="infos">
											
											<div class="infosection">
											<h3 class="infoname"></h3>
											<h3 class="infocontent">First itme Oversaw the whole SDLC. entire thing. ask client their requirements, made adjustments, assign tasks, come up with solutions for things, made final decisions, did testing, made improvement over iterations. handled deployment and maintinence  First itme Oversaw the whole SDLC. entire thing. ask client their requirements, made adjustments, assign tasks, come up with solutions for things, made final decisions, did testing, made improvement over iterations. handled deployment and maintinence First itme Oversaw the whole SDLC. entire thing. ask client their requirements, made adjustments, assign tasks, come up with solutions for things, made final decisions, did testing, made improvement over iterations. handled deployment and maintinence</h3>
											</div>
										
											
											</div>
											</div>

											<div class="item2">
											<h3 class="projectname">About US</h3>
											<div>
											<a href="#"><img class="freezeframe" src="images/fire.gif"/></a>
											<script>
												new Freezeframe();
											</script>
											</div>
											
											
											

											</div>

										</div>
									</div>



								</div>
							</section>
							
						</div>
					</section>

				<!-- Three -->
				<section id="three" class="wrapper style1 fullscreen fade-up">
				
					<div class="inner">
					
						<h2 style="text-align: left; margin-bottom: 50px"><span style="display:inline-block;" class="prompt">Episodes</span></h2>
						<h3><a href="/info">Archive</a></h3>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="#">
										<h2>Ep1</h2>
										<div class="content">
											<p>Link to youtube vid</p>
										</div>
									</a>
								</article>

								<article class="style2">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="#">
										<h2>Ep2</h2>
										<div class="content">
											<p>Link to youtube vid</p>
										</div>
									</a>
								</article>

								<article class="style1">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="#">
										<h2>Ep3</h2>
										<div class="content">
											<p>Link to youtube vid</p>
										</div>
									</a>
								</article>

								<article class="style2">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="#">
										<h2>Ep4</h2>
										<div class="content">
											<p>Link to youtube vid</p>
										</div>
									</a>
								</article>

								<article class="style1">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="#">
										<h2>Ep5</h2>
										<div class="content">
											<p>Link to youtube vid</p>
										</div>
									</a>
								</article>

								<article class="style2">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="#">
										<h2>Ep6</h2>
										<div class="content">
											<p>Link to youtube vid</p>
										</div>
									</a>
								</article>

							</section>
							<p style="margin-bottom: 10px;"></p>
					</div>
				</section>


				
				
			</div>

	<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="icons" style="margin-bottom: 0px;">
									
									
									<li><a href="#" class="icon brands fa-instagram" ><span class="label">Instagram</span></a></li>
									
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									
									<li><a href="#"  style="font-family: 'Courier Prime', monospace;">* Better Brain Podcast</a></li>

									<li><a href="#" style="font-family: 'Courier Prime', monospace;">* Website Designed by Christine Jin</a></li>

									<li><a href="/admin" style="font-family: 'Courier Prime', monospace;">* Admin Portal</a></li>
								</ul>
				</div>
			</footer>

    
		<!-- Scripts "https://www.youtube.com/watch?v=hYKmDl9W9K0&t=55s" -->
			<script>
				/*$("#live").click(function(){
					alert("");
				});**/

				$("#source").click(function(){
					alert("Source code is unavailable due to privacy reasons.");
				});

				$("#tool").click(function(){
					alert("Live website is unavailable because this project is still in production.");
				});
			</script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/chain.js"></script>
	</body>


each v in vid
	h1=v.name
h2=beebe