<!DOCTYPE html>
<html>

<form method="POST"
    style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
    <h3 style="color: black">Input admin password</h3>
    <div class="form-group">

        <input type="password" name="password" class="form-control">
    </div>

    <div class="form-group">
        <button class="btn btn-success">login</button>
    </div>

    <a href="/" class="btn btn-success">Back to Home</a>
</form>
{{!-- <iframe width="420" height="345" src="https://www.youtube.com/embed/COUuoRTuXSw">
</iframe> --}}


</html>